button {
    border-radius: 2px;
    padding: 5px 25px;
    color: white;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.button-large {
    padding: 10px 50px;
    width: 11em;
}

.button-outline {
    background-color: rgba(255, 255, 255, 0) !important;
    border: solid 2px !important;
}

.button-primary {
    background-color: #33A0FF;
    border-color: #33A0FF;
}

.button-primary-lighter {
    background-color: rgba(51, 160, 255, 0.1);
    border-color: rgba(51, 160, 255, 1.0);
    border: 0;
    color: #33A0FF;
}

.button-primary:hover {
    background-color: #2E90E5;
    border-color: #2E90E5;
}

.button-danger {
    background-color: #FF4858;
    border-color: #FF4858;
}

.button-danger-lighter {
    background-color: rgba(255, 72, 87, 0.1);
    border-color: rgb(255, 72, 87);
    border: 0;
    color:  #FF4858;
}

.button-danger:hover {
    background-color: #F53848;
    border-color: #F53848;
}

.button-success {
    background-color: #0AD00A;
    border-color: #0AD00A;
}

.button-success-lighter {
    background-color: rgba(10, 208, 10, 0.1);
    border-color: rgb(10, 208, 10);
    border: 0;
    color: #0AD00A;
}

.button-success:hover {
    background-color: #07C107;
    border-color: #07C107;
}

.button-warning {
    background-color: #FFC600;
    border-color: #FFC600;
}

.button-warning-lighter {
    background-color: rgba(255, 200, 0, 0.1);
    border-color: rgb(255, 200, 0);
    border: 0;
    color: #FFC600;
}

.button-warning:hover {
    background-color: #EBB600;
    border-color: #EBB600;
}

.button-default {
    background-color: #22262A;
    border-color:  #22262A;
}
.button-default-lighter {
    background-color: rgba(34, 38, 42, 0.1);
    border-color:  rgb(34, 38, 42);
    border: 0;
    color: #22262A;
}

.button-default:hover {
    background-color: #13161A;
    border-color: #13161A;
}

.button-cart {
    background-color: rgba(51, 160, 255, 0.1);
    border-color: rgba(51, 160, 255, 0);
    color: #33A0FF;
    text-align: right;
    display: initial;
}
.button-cart-notext {
    background-color: rgba(51, 160, 255, 0.1);
    border-color: rgba(51, 160, 255, 0);
    color: #33A0FF;
    text-align: right;
    display: initial;
    width: 4em !important;
    height: 3em;
}

.button-cartimage {
    background-image: url('images/cart.svg');
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 9px;
    width: 11em;
    padding: 10px 17px 10px 10px;
}

.button-heartimage {
    background-image: url('images/heart.svg');
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 9px;
    width: 13.5em;
    padding: 10px 17px 10px 10px;
}