button {
    border-radius: 2px;
    padding: 5px 25px;
    color: white;
    box-shadow: 1px 1px #888888;
}

button:hover {
    filter: grayscale(50%);
}

.button-primary {
    background-color: rgb(55, 55, 238);
    border:  rgb(55, 55, 238);
}

.button-danger {
    background-color: rgb(214, 6, 6);
    border-color: rgb(214, 6, 6);
}

.button-success {
    background-color: rgb(5, 184, 5);
    border-color: rgb(5, 184, 5);
}

.button-warning {
    background-color: rgb(238, 238, 6);
    border-color: rgb(238, 238, 6);
    color: black;
}

.button-large {
    padding: 10px 50px;
}

.button-danger-outline {
    background-color: rgb(238, 65, 65);
    border-color: rgb(214, 6, 6);
}